@{
    ViewData["Title"] = "Home Page";
}
<script>
    if (navigator.userAgent.indexOf("MSIE") > 0) {
        //IE
        document.onkeydown = function () {
            switch (event.keyCode) {
                case 49:
                    window.location.href='/Customer/Index';
                    break;
                case 50:
                    alert('2');
                    break;
                case 51:
                    alert('3');
                    break;
                case 52:
                    alert('4');
                    break;
                case 53:
                    alert('5');
                    break;
                case 54:
                    alert('6');
                    break;
                case 65:
                    alert('A');
                    break;
                case 67:
                    alert('C');
                    break;
                case 87:
                    alert('W');
                    break;
                case 85:
                    alert('U');
                    break;

            }
        }
    }
    else {
        window.onkeydown = function () {
            switch (event.keyCode) {
                case 49:
                    window.location.href='/Customer/Index';
                    break;
                case 50:
                    alert('2');
                    break;
                case 51:
                    alert('3');
                    break;
                case 52:
                    alert('4');
                    break;
                case 53:
                    alert('5');
                    break;
                case 54:
                    alert('6');
                    break;
                case 65:
                    alert('A');
                    break;
                case 67:
                    alert('C');
                    break;
                case 87:
                    alert('W');
                    break;
                case 85:
                    alert('U');
                    break;



            }

        }
    }
</script>
<script type="text/javascript" src="admin_js/addAdminCheck.js?randomId=<%=Math.random()%>"></script>
<main role="main" class="inner cover">
    <h1>庫存管理系統</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <td class="h1"><a href="/Customer/Index">1. 客戶資料管理</a></td>
                <td class="h1">A. 進出單據管理</td>
                <td class="h1">W. 應收帳結算管理</td>
            </tr>
            <tr>
                <td class="h1">2. 廠商資料管理</td>
                <td class="h1">C. 進銷報表列印</td>
                <td class="h1">U. 庫存月結管理</td>
            </tr>
            <tr>
                <td class="h1">3. 產品資料管理</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="h1">4. 業務資料管理</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="h1">5. 產品類別管理</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="h1">6. 客戶開發管理</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</main>


