@{
    ViewData["Title"] = "進出單據管理";
}
<script>
    if (navigator.userAgent.indexOf("MSIE") > 0) {
        //IE
        document.onkeyup = function () {
            switch (event.keyCode) {
                case 49:
                    window.location.href='/Customer/Index';
                    break;
                case 50:
                    window.location.href='/Factory/Index';
                    break;
                case 51:
                    window.location.href='/Item/Index';
                    break;
                case 52:
                    window.location.href='/Employ/Index';
                    break;
                case 53:
                    alert('5');
                    break;
                case 54:
                    alert('6');
                    break;
                case 65:
                    window.location.href='/Home/PSMS';
                    break;
                case 67:
                    alert('C');
                    break;
                case 87:
                    alert('W');
                    break;
                case 27:
                    window.location.href='/Home/Index';
                    break;

            }
        }
    }
    else {
        window.onkeyup = function () {
            switch (event.keyCode) {
                case 49:
                case 97:
                    window.location.href='/Customer/Index';
                    break;
                case 98:
                case 50:
                     window.location.href='/Factory/Index';
                    break;
                case 99:
                case 51:
                     window.location.href='/Item/Index';
                    break;
                case 100:
                case 52:
                    window.location.href='/Employ/Index';
                    break;
                case 53:
                    alert('5');
                    break;
                case 54:
                    alert('6');
                    break;
                case 65:
                    window.location.href='/Home/PSMS';
                    break;
                case 67:
                    alert('C');
                    break;
                case 87:
                    alert('W');
                    break;
                case 85:
                    alert('U');
                    break;
                case 27:
                    window.location.href='/Home/Index';
                    break;
            }

        }
    }
</script>
<script type="text/javascript" src="admin_js/addAdminCheck.js?randomId=<%=Math.random()%>"></script>
<main role="main" class="inner cover">

    <table class="table table-borderless table-dark">
        <tbody style="border:3px #808080 solid;padding:5px;">
            <tr style="border-bottom:3px #808080 solid;padding:5px;">
                <td class="h1" colspan="3">✰✰✰&nbsp;進&nbsp;出&nbsp;單&nbsp;據&nbsp;管&nbsp;理&nbsp;✰✰✰</td>
            </tr>
            <tr>
                <td class="h1"><a href="/Customer/Index">1. 銷貨管理系統&emsp;&emsp;</a></td>
                <td class="h1">A. 進貨管理系統&emsp;&emsp;</td>
                <td class="h1">M. 領料管理系統</td>
            </tr>
            <tr>
                <td class="h1">2. 銷售日報表&emsp;&emsp;&emsp;</td>
                <td class="h1">B. 進貨日報表&emsp;&emsp;&emsp;</td>
                <td class="h1">N. 入庫管理系統</td>
            </tr>
            <tr>
                <td class="h1">3. 銷貨金額查詢&emsp;&emsp;</td>
                <td class="h1">C. 進貨金額查詢&emsp;&emsp;</td>
                <td></td>
            </tr>
            <tr>
                <td class="h1">4. 銷貨轉應收帳(輔)</td>
                <td class="h1">D. 進貨轉應付帳(輔)</td>
                <td></td>
            </tr>
            <tr>
                <td class="h1">5. 收款沖帳管理&emsp;&emsp;</td>
                <td class="h1">E. 付款沖帳管理&emsp;&emsp;</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</main>


