<style>
    .select2-selection__rendered {
        line-height: 50px !important;
    }

    .select2-container .select2-selection--single {
        height: 50px !important;
        display: block;
    }

    .select2-selection__arrow {
        height: 50px !important;
    }

    .dropdownCssClass {
        font-size: 30px;
        text-align: left;
        color: black;
        width: 100%;
        height: auto;
    }

    .containerCssClass {
        font-size: 30px;
        text-align: center;
        color: black;
    }
</style>
<hr>
<div style='position:absolute; z-index:999; top:100px;width:100%;'>
    <select id="itemCode" style="width:100%;"></select>
</div>

<script>
    $(document).ready(function () {
        $("#itemCode").select2({
            dropdownCssClass: "dropdownCssClass",
            containerCssClass: "containerCssClass",
            maximumInputLength: 10,
            ajax: {
                url: "/api/Factory?tmp=1",
                dataType: 'json',
                delay: 250,
                type: 'post',
                data: function (params) {
                    return {
                        FACT_CODE: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    var select2data = $.map(data, function (obj) {
                        obj.id = obj.id || obj.ID;
                        obj.text = obj.text || obj.FACT_NAME;
                        return obj;
                    });
                    params.page = params.page | 1;
                    return {
                        results: select2data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    }

                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: CformatRepo,
            templateSelection: CformatRepoSelection,
            "language": {
                "noResults": function () {
                    return "查無結果";
                }
            }
        }).maximizeSelect2Height();;
        $('#itemCode').focus();
        $('#itemCode').select2("open");
        $('#itemCode').on('select2:select', function (e) {
            var data = e.params.data;
            var ID = data.ID;
            var date = new Date();
            date.setTime(date.getTime() + (1 * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
            document.cookie = "FID=" + ID + expires + "; path=/";
            var href = "/" + page + "/Index?ID=" + ID;
            window.location.href = href;
            // Give Form Value

        });
        function CformatRepo(repo) {
            if (repo.loading) return "搜尋中...";
            repo.id = repo.FACT_CODE;
            repo.text = repo.FACT_NAME;
            var markup = '<div class="container-fluid">' +
                '<div class="row" style="border:3px #808080 solid;padding:px;">' +
                '<div class="col-1" style="border-right:3px #808080 solid;padding:0px;">' + repo.FACT_CODE + '</div>' +
                '<div class="col-3" style="border-right:3px #808080 solid;padding:0px;">' + repo.FACT_NAME + '</div>' +
                '<div class="col-3" style="border-right:3px #808080 solid;padding:0px;">' + repo.ADDRESS1 + '</div>' +
                '<div class="col-2" style="border-right:3px #808080 solid;padding:0px;">傳真: ' + repo.FAX + '</div>' +
                '<div class="col-2" style="border-right:3px #808080 solid;padding:0px;">電話: ' + repo.TELEPHONE + '</div>' +
                '<div class="col-1">' + repo.UNIFORM + '</div>' +
                '</div>';
            markup += '</div>';
            return markup;
        }
        function CformatRepoSelection(repo) {

            return repo.text;
        }

    });
</script>
<script>
    var page = 'Factory';
    document.getElementById('Search').focus();
    var href = "/" + page + "/Index";
    if (navigator.userAgent.indexOf("MSIE") > 0) {
        //IE
        document.onkeyup = function () {
            switch (event.keyCode) {
                case 27:
                    window.location.href = '/Factory/Index';
                    break;
            }
        }
    }
    else {
        window.onkeyup = function () {
            switch (event.keyCode) {
                case 27:
                    window.location.href = '/Factory/Index';
                    break;
            }
        }
    }
</script>